<section id="whoami" class="about">
	<div class="title-head">
		<div class="container">
			<h1>Who <strong>am I</strong></h1>
		</div>
	</div>
	<div class="gp-r">
		<div class="gp-c2 gp-small-c3 carblue">
			<div class="content">
				<h4>My name is <strong>Galih Pranowo</strong>.</h4>
				<p>I'm a Graphic, Web, UI and Animation/Interactive designer from Yogyakarta, Indonesia. And also I work as Flash and Front End developer to implement awesome ideas into full-scale design projects. With a lot of passion to great user experience, colours, typography and layout-focusing.</p>
				<!-- <ul class="sosmed">
					<li class="first"><%= link_to('#', target: '_blank') do %><i class="fa fa-facebook"></i><% end %></li>
					<li><%= link_to('#', target: '_blank') do %><i class="fa fa-twitter"></i><% end %></li>
					<li><%= link_to('#', target: '_blank') do %><i class="fa fa-google-plus"></i><% end %></li>
					<li><%= link_to('#', target: '_blank') do %><i class="fa fa-linkedin"></i><% end %></li>
					<li><%= link_to('#', target: '_blank') do %><i class="fa fa-behance"></i><% end %></li>
					<li class="last"><%= link_to('#', target: '_blank') do %><i class="fa fa-github"></i><% end %></li>
				</ul> -->
			</div>
		</div>
		<div class="gp-c2 gp-small-c3 photo">
			<div class="content">
				<%= image_tag("http://assets.gapraart.com/images/about-me.png?_subject_uid=375864436&w=AAApE_ArOR-Hhv-mFIBm1TZVSws_zoPdWJXUZi-Qf7GCng") %>
			</div>
		</div>
		<div class="gp-c2 gp-small-c3 carblue">
			<div class="content">
				<p>Not just to achieve what is desired. Working give happiness ourselves, it is expected by the nature of us. Machines are never turned on will easily rust, never sharpened knife will not sharp anymore to cut. And not only the equipment that is used to be stored in a dusty crate.</p>
			</div>
		</div>
		<div class="gp-c2 gp-small-c3 gray">
			<%= image_tag("http://assets.gapraart.com/images/pens.jpg?_subject_uid=375864436&w=AABwJBS1yh2ezTE4x1E3sVOWqjb4Vl3wATDc1Q3suQqK4Q", class: "grayscale") %>
		</div>
		<div class="gp-c2 gp-small-c3 white">
			<div class="content">
				<h3>Jangan berhenti berkarya, atau kita akan segera menjadi tua dan tidak berguna.</h3>
			</div>
		</div>
		<div class="gp-c2 gp-small-c3 gray">
			<%= image_tag("http://assets.gapraart.com/images/mac-glasses-small.jpg?_subject_uid=375864436&w=AAD1Ye2Mc4uAO5MfVVyWN_r8ibr4nStReIbpSSEHPtYZTQ", class: "grayscale") %>
		</div>
	</div>
</section>