<section class="book">
	<div class="title-head">
		<div class="container">
			<h1>Author of <strong>Book</strong></h1>
		</div>
	</div>
	<div class="container">
		<div class="gp-r">
			<div class="gp-c2">
				<div class="book-image">
					<%= link_to('http://andipublisher.com/produk-1007003475-mastering-coreldraw-x4.html', target: "_blank") do %>
						<%= image_tag('http://www.gapraart.com/assets/images/book-coreldraw-1.jpg', class: "img-fit grayscale") %>
					<% end %>
				</div>
				<div class="book-info">
					<h4 class="uppercase">
						<%= link_to('mastering coreldraw x4', 'http://andipublisher.com/produk-1007003475-mastering-coreldraw-x4.html', target: "_blank") %>
					</h4>
					<p class="publisher">Andi Publisher | 2010</p>
					<p class="isbn">ISBN : 978-979-29-1283-8</p>
				</div>
			</div>
			<div class="gp-c2">
				<div class="book-image">
					<%= link_to('http://andipublisher.com/produk-1107003922-3d-studio-max-2010--dasar-dan-aplikasi.html', target: "_blank") do %>
						<%= image_tag('http://www.gapraart.com/assets/images/book-3dmax.jpg', class: "img-fit grayscale") %>
					<% end %>
				</div>
				<div class="book-info">
					<h4 class="uppercase">
						<%= link_to('3D STUDIO MAX 2010 - DASAR DAN APLIKASI', 'http://andipublisher.com/produk-1107003922-3d-studio-max-2010--dasar-dan-aplikasi.html', target: "_blank") %>
					</h4>
					<p class="publisher">Andi Publisher | 2010</p>
					<p class="isbn">ISBN : 978-979-29-1606-5</p>
				</div>
			</div>
			<div class="gp-c2">
				<div class="book-image">
					<%= link_to('http://andipublisher.com/produk-1109004017-kreasi-animasi-interaktif-dengan-actions.html', target: "_blank") do %>
						<%= image_tag('http://www.gapraart.com/assets/images/book-flash.jpg', class: "img-fit grayscale") %>
					<% end %>
				</div>
				<div class="book-info">
					<h4 class="uppercase">
						<%= link_to('KREASI ANIMASI INTERAKTIF ACTIONSCRIPT 3 FLASH CS5', 'http://andipublisher.com/produk-1109004017-kreasi-animasi-interaktif-dengan-actions.html', target: "_blank") %>
					</h4>
					<p class="publisher">Andi Publisher | 2011</p>
					<p class="isbn">ISBN : 978-979-29-2509-8</p>
				</div>
			</div>
			<div class="gp-c2">
				<div class="book-image">
					<%= link_to('http://andipublisher.com/produk-1109004008-teknik-instan-menguasai-kreasi-desain-co.html', target: "_blank") do %>
						<%= image_tag('http://www.gapraart.com/assets/images/book-coreldraw-2.jpg', class: "img-fit grayscale") %>
					<% end %>
				</div>
				<div class="book-info">
					<h4 class="uppercase">
						<%= link_to('TEKNIK INSTAN MENGUASAI KREASI DESAIN CORELDRAW X5', 'http://andipublisher.com/produk-1109004008-teknik-instan-menguasai-kreasi-desain-co.html', target: "_blank") %>
					</h4>
					<p class="publisher">Andi Publisher | 2011</p>
					<p class="isbn">ISBN : 978-979-29-2410-7</p>
				</div>
			</div>
			<div class="gp-c2">
				<div class="book-image">
					<%= link_to('http://andipublisher.com/produk-0214005073-belajar-trik-tersembunyi-dari-coreldraw-.html', target: "_blank") do %>
						<%= image_tag('http://www.gapraart.com/assets/images/book-coreldraw-3.jpg', class: "img-fit grayscale") %>
					<% end %>
				</div>
				<div class="book-info">
					<h4 class="uppercase">
						<%= link_to('BELAJAR TRIK TERSEMBUNYI CORELDRAW X6', 'http://andipublisher.com/produk-0214005073-belajar-trik-tersembunyi-dari-coreldraw-.html', target: "_blank") %>
					</h4>
					<p class="publisher">Andi Publisher | 2014</p>
					<p class="isbn">ISBN : 978-979-29-4108-1</p>
				</div>
			</div>
		</div>
	</div>
</section>