<section id="contact" class="contact">
	<div class="title-head">
		<div class="container">
			<h1 class="txt-white">Contact</h1>
		</div>
	</div>
	<div class="container">
		<div class="gp-r">
			<div class="gp-c2 carblue txt-white p-3">
				<h3>Feel free to contact me</h3>
				<p>Email: gapraart@gmail.com<br/>Phone: +62 857 2907 8192 / +62 888 0601 4386<br/>Skype: galihpranowo</p>
				<ul class="sosmed">
					<li><%= link_to('https://www.facebook.com/galih.sigapra', target: '_blank') do %><i class="fa fa-facebook"></i><% end %></li>
					<li><%= link_to('https://twitter.com/galihsigapra', target: '_blank') do %><i class="fa fa-twitter"></i><% end %></li>
					<li><%= link_to('https://plus.google.com/+GalihSiGapra', target: '_blank') do %><i class="fa fa-google-plus"></i><% end %></li>
					<li><%= link_to('http://id.linkedin.com/in/galihsigapra/', target: '_blank') do %><i class="fa fa-linkedin"></i><% end %></li>
					<li><%= link_to('https://www.behance.net/gapraart', target: '_blank') do %><i class="fa fa-behance"></i><% end %></li>
					<li><%= link_to('https://github.com/gapra', target: '_blank') do %><i class="fa fa-github"></i><% end %></li>
				</ul>
			</div>
		</div>
	</div>
</section>