<div class="work-content">
	<div id="gobenevolent" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/gobenevolent-logo.jpg?_subject_uid=375864436&w=AACJVWeoL957a-HMle2GLSLFapXPMAh_qaS_Tl1xjkME2g') %>
			<div class="work-desc">
				<h3>Logo Competition</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>goBenevolent logo design competition</p>
			</div>
		</div>
	</div>
	<div id="gapraart2015" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/homepage.jpg?_subject_uid=375864436&w=AAAFkrY_T6TmQ_bb5u-1zUs1zvgb0QryIIQV_dU2OY0ufg') %>
			<div class="work-desc">
				<h3>Gapra Art V.3.1 2015</h3>
				<h4>Website Design & Development</h4>
				<hr/>
				<p>New design Gapra Art 2015, build with Ruby on Rails</p>
			</div>
		</div>
	</div>
	<div id="ramadhan-ui" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/ramadhan-ui.jpg?_subject_uid=375864436&w=AADIGnVmlepz6J6xddnex5tN7xy3ty2tC_EjlXvE6YDafw') %>
			<div class="work-desc">
				<h3>Ramadhan Telat Tiba for Android</h3>
				<h4>UI/UX Design</h4>
				<hr/>
				<p>Creating UI and UX design for Android application Ramadhan Telah Tiba with powerful interface best for user experience</p>
			</div>
		</div>
	</div>
	<div id="worldchat-ui" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/worldchat-ui.jpg?_subject_uid=375864436&w=AACBNZTRNHVekrE8EjJJF6ot1A2QUqwxWt73iEzPxOMZJA') %>
			<div class="work-desc">
				<h3>World Chat app</h3>
				<h4>UI Design</h4>
				<hr/>
				<p>Creating mockup/UI design World chat application for iOS and Android application. Social media chating with new concepts and different.</p>
			</div>
		</div>
	</div>
	<div id="evigalih-site" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/evigalih-mockup.jpg?_subject_uid=375864436&w=AADm0RSdyj13JVqn9so5brIKwecrZd5bdNJE66ml9vvV8A') %>
			<div class="work-desc">
				<h3>Digital Wedding Invitation Site</h3>
				<h4>Website Design & Frontend Development</h4>
				<hr/>
				<p>Digital wedding invitation site build with HTML5, compass SASS, jQuery and grunt.js | visit site to see <%= link_to('evigalih.com','http://www.evigalih.com', target: "_blank") %></p>
			</div>
		</div>
	</div>
	<div id="getrealty" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/getrealty1-mockup.jpg?_subject_uid=375864436&w=AABjyeeUo0xYQkG6GSfnLlKiW6UIfNkJ5C1fvO8SUrTdtA') %>
			<div class="work-desc">
				<h3>Real Estate Website Template</h3>
				<h4>Website Design</h4>
				<hr/>
				<p>Real estate website psd template, creating with photoshop. See detail on my behance profile > <%= link_to('real estate website template', 'https://www.behance.net/gallery/18295793/One-Page-Multipurpose-Real-Estate-Website-Design', target: "_blank") %></p>
			</div>
		</div>
	</div>
	<div id="mywidz" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/mywidz-logo.jpg?_subject_uid=375864436&w=AAA3660qCbVzGs0lmQP0u5YvvJnWgN3t_SOjOWWF6dZzkw') %>
			<div class="work-desc">
				<h3>MyWidz Logo Design Competition</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>Logo design created with corelDRAW for online logo competitions</p>
			</div>
		</div>
	</div>
	<div id="gapraart" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/gapraart2014-mockup.jpg?_subject_uid=375864436&w=AAAA1grSfqyiJJRIireiSigWTr2k5-LchS4OtfRBDuVfkA') %>
			<div class="work-desc">
				<h3>Gapra Art v.3.0 2014</h3>
				<h4>Website Design & Frontend Development</h4>
				<hr/>
				<p>Development wordpress theme with grunt.js and SASS for Gapra Art portfolio site v.3.0, published on 2014</p>
			</div>
		</div>
	</div>
	<div id="ambigram" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/ambigram.jpg?_subject_uid=375864436&w=AAChb1IMfmftuHO1tO2zBPAqE9ulfU4ubkzs8glNj3DEpA') %>
			<div class="work-desc">
				<h3>Ambigram Logo</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>Art of ambigram symbols</p>
			</div>
		</div>
	</div>
	<div id="fashion-fest" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/fashion-fest.jpg?_subject_uid=375864436&w=AABJjj2jXeZcBG7A7LTbeWpSFekAWz-omnyjSP4d89b2JQ') %>
			<div class="work-desc">
				<h3>Jakarta Fashion & Food Festival</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>Logo competition Jakarta Fashion & Food Festival</p>
			</div>
		</div>
	</div>
	<div id="getrealty2" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/getrealty-mockup.jpg?_subject_uid=375864436&w=AADDqUZ8rOl-yq-5xEzJ4kgWAQfpi9uftdcwFeYHX-A8pQ') %>
			<div class="work-desc">
				<h3>GetRealty Theme V.2</h3>
				<h4>Website Design & Frontend Development</h4>
				<hr/>
				<p>Premium real estate website theme build with ruby on rails, and available for html template. See demo on -> <%= link_to('Demo', 'https://getrealtydemo.herokuapp.com/', target: '_blank') %></p>
			</div>
		</div>
	</div>
	<div id="ligashop" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/ligashop-logo.jpg?_subject_uid=375864436&w=AABkorrRC731_aQ1l-ZLMcHsYr6Oa6KWrov7W8U01uG64w') %>
			<div class="work-desc">
				<h3>ligashop</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>Logo design created with corelDRAW for online logo competition</p>
			</div>
		</div>
	</div>
	<div id="wongndeso" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/wongndeso-site.jpg?_subject_uid=375864436&w=AADOTx06xy4V5BAxhzqLGL_b6ChbQycAwrHi3TBW5OngAw') %>
			<div class="work-desc">
				<h3>WongNdeso Portfolio Site</h3>
				<h4>Website Design, Frontend & Backend Development</h4>
				<hr/>
				<p>Portfolio site build with Php & MySQL, Javascript/jQuery</p>
			</div>
		</div>
	</div>
	<div id="thanety-vector" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/thanety-graphic.jpg?_subject_uid=375864436&w=AACJWGGcn0gsZWqJp-AJOxn4nSkfhYt6qM50tMnKBnVFNA') %>
			<div class="work-desc">
				<h3>Vector Illustration</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>Vector illustration character with coreDRAW</p>
			</div>
		</div>
	</div>
	<div id="flash-flipbook" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/flash-flipbook.jpg?_subject_uid=375864436&w=AADFhoK5TDhIkyK_8dSJtISnCizsTTmJbdr0Jsdx75mSEw') %>
			<div class="work-desc">
				<h3>Flash Flipbook</h3>
				<h4>Flash Development</h4>
				<hr/>
				<p>Development karunia catering flipbook interactive build with Flash ActionScript 3 and XML</p>
			</div>
		</div>
	</div>
	<div id="propel-logo" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/propel-logo.jpg?_subject_uid=375864436&w=AACarevJfVn9KrXhF69Rgig61PCSjMLAjxPYgUboA3XJDg') %>
			<div class="work-desc">
				<h3>Propel</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>Logo design created with Adobe Illustrator for online logo competition</p>
			</div>
		</div>
	</div>
	<div id="flash-mobilegame" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/flash-mobilegame.jpg?_subject_uid=375864436&w=AADKOFMB5Mm7Upm-Gwu1NkWEI683YgUlQSndMcnJ_StmOg') %>
			<div class="work-desc">
				<h3>Plain Combat - Flash Mobile Game</h3>
				<h4>Flash Development</h4>
				<hr/>
				<p>Flash mobile game "Plain Combat" created with Flash ActionScript and Adobe Air for java mobile device and iOS device</p>
			</div>
		</div>
	</div>
	<div id="resolved-artwork" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/revolsedband-artwork.jpg?_subject_uid=375864436&w=AAC4yIR7CvdtQNYQJcqgXTyRxuizlRR0VJoyUy1Cn0Y_Xw') %>
			<div class="work-desc">
				<h3>Revolsed Artwork</h3>
				<h4>Illustration</h4>
				<hr/>
				<p>Draw illustration for death metal band "Revolsed" from sketch untill coloring with Photoshop</p>
			</div>
		</div>
	</div>
	<div id="socialdefect-artwork" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/socialdefectband-artwork.jpg?_subject_uid=375864436&w=AABCT_Fw5X4GFvwfFAeQbtpHgPOoqFKtnOj6JmY8czEk6A') %>
			<div class="work-desc">
				<h3>Social Defect Artwork</h3>
				<h4>Illustration</h4>
				<hr/>
				<p>Draw illustration for death metal band "Social Defect" from sketch untill coloring with Photoshop</p>
			</div>
		</div>
	</div>
	<div id="flash-interaktif" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/flash-mediainteraktif.jpg?_subject_uid=375864436&w=AACLJtBP1ksSb1dMUYCnJvMUliC3cm5pqTbp3dPrIhp4NA') %>
			<div class="work-desc">
				<h3>Flash Interactive Media Tool of The Human Circulatory</h3>
				<h4>Flash Development</h4>
				<hr/>
				<p>Interactive media tool of the human circulatory with Flash ActionScript 3</p>
			</div>
		</div>
	</div>
	<div id="ambigram-sanggar" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/ambigram-sanggar28.jpg?_subject_uid=375864436&w=AAAOB-xG8KN2HLUXAWdWQ0eeaKjNnyP2aDgSn7h624U5kQ') %>
			<div class="work-desc">
				<h3>Ambigram - Sanggar 28 Terkam</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>Logo ambigram for Sanggar 28 "TERKAM"</p>
			</div>
		</div>
	</div>
	<div id="flash-interaktif2" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/flash-mediainteraktif-2.jpg?_subject_uid=375864436&w=AADUT9jyet5ejCwyEd4YC_p34IzPtNMUNRYjR9gxILScBg') %>
			<div class="work-desc">
				<h3>Flash Interactive Media Tool of The Human Circulatory #2</h3>
				<h4>Flash Development</h4>
				<hr/>
				<p>Interactive media tool of the human circulatory #2 with Flash ActionScript 3</p>
			</div>
		</div>
	</div>
	<div id="olastudio-logo" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/olastudio-logo.jpg?_subject_uid=375864436&w=AAA62x-8DvuV1U3Nl7M8Rry58Z4VUXZ2l4QbkSXAGbF3Lg') %>
			<div class="work-desc">
				<h3>Studio OLA logo</h3>
				<h4>Graphic Design</h4>
				<hr/>
				<p>Logo design for Studio OLA</p>
			</div>
		</div>
	</div>
	<div id="olastudio-site" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/olastudio-site.jpg?_subject_uid=375864436&w=AACxdt3Gffig9ozLoVTiNutgkDmWkYKwPPfo5CCxdkf5KA') %>
			<div class="work-desc">
				<h3>Studio OLA Website Design</h3>
				<h4>Website Design & Frontend Development</h4>
				<hr/>
				<p>Website Design & Frontend Development Studio OLA Yogyakarta, Indonesia -> <%= link_to('demo','http://projects.gapraart.com/olastudio/v1.1/', target: "_blank") %></p>
			</div>
		</div>
	</div>
	<div id="bakulvoucher-site" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/bakulvoucher-site.jpg?_subject_uid=375864436&w=AAB1eHOdwYjFhfHkCMabWY0cWl8deHnX3GbOf7lup5ztEw') %>
			<div class="work-desc">
				<h3>Re-design Bakul Voucher Site</h3>
				<h4>Website Design</h4>
				<hr/>
				<p>Re-design Bakulvoucher.com</p>
			</div>
		</div>
	</div>
	<div id="flash-gameonline" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/flash-gameonline.jpg?_subject_uid=375864436&w=AABSxuSRMfQzp7PmGKLEuJ3c_qGgUj3U33U3W2q9vc-Z5Q') %>
			<div class="work-desc">
				<h3>Flash Game Online for Children</h3>
				<h4>Flash Development</h4>
				<hr/>
				<p>Flash game online for children build with Flash ActionScript 2 with varian leveling on game</p>
			</div>
		</div>
	</div>
	<div id="jobskeren-site" class="white-popup mfp-with-anim mfp-hide">
		<div class="work-wrap">
			<%= image_tag('http://assets.gapraart.com/images/jobskeren-site.jpg?_subject_uid=375864436&w=AAB_gF9rSoBk3kxKBwS54Wop9i_BX1LiF4ESUbmBQXIWsg') %>
			<div class="work-desc">
				<h3>Jobskeren</h3>
				<h4>Website Design & Frontend Development</h4>
				<hr/>
				<p>Website Design jobs application "Jobskeren"</p>
			</div>
		</div>
	</div>
</div>