<section class="myworks">
	<div class="title-head">
		<div class="container">
			<h1>My <strong>Works</strong></h1>
		</div>
	</div>
	<div class="container">
		<ul class="tab-menu">
			<li><a href="#">All</a></li>
			<li><a href="#">Graphic designs</a></li>
			<li><a href="#">Website designs</a></li>
			<li><a href="#">UI/UX designs</a></li>
			<li><a href="#">Frontend development</a></li>
			<li><a href="#">Flash / Animation</a></li>
		</ul>
	</div>
	<div class="slide-works">
		<div class="slide-works-content">
			<ul>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/iphone6.jpg", class: "grayscale ui") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/for-iphone.jpg", class: "grayscale ui") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/evigalih-site.jpg", class: "grayscale website") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/getrealty-theme.jpg", class: "grayscale website") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/mywidz-logo.jpg", class: "grayscale graphic") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/gapraart2014.jpg", class: "grayscale website") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/ambigram.jpg", class: "grayscale graphic") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/fashion-fest.jpg", class: "grayscale graphic") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/thumb-getrealty.jpg", class: "grayscale website") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/ligashop-logo.jpg", class: "grayscale graphic") %><% end %>
				</li>
				<li class="work">
					<%= link_to('#') do %><%= image_tag("http://www.gapraart.com/assets/images/wongndeso-site.jpg", class: "grayscale website") %><% end %>
				</li>
			</ul>
		</div>
		<div class="slide-works-controls">
		</div>
	</div>
</section>