<section id="works" class="myworks">
	<div class="title-head">
		<div class="container">
			<h1>My <strong>Works</strong></h1>
		</div>
	</div>
	<div class="container">
		<ul class="tab-menu">
			<li><%= link_to('All', '#', class: "all") %></li>
			<li><%= link_to('Graphic designs', '#', class: "graphic") %></li>
			<li><%= link_to('Website designs', '#', class: "website") %></li>
			<li><%= link_to('UI/UX designs', '#', class: "ui") %></li>
			<li><%= link_to('Frontend development', '#', class: "frontend") %></li>
			<li><%= link_to('Flash / Animation', '#', class: "flash") %></li>
		</ul>
	</div>
	<div class="slide-works">
		<div class="slide-works-content">
			<ul id="gallery-work" class="gallery owl-carousel owl-theme">
				<li class="work item">
					<%= link_to('#gapraart2015', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/homepage-thumb.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#ramadhan-ui', class: "open-work ui") do %><%= image_tag("http://www.gapraart.com/assets/images/iphone6.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#worldchat-ui', class: "open-work ui") do %><%= image_tag("http://www.gapraart.com/assets/images/for-iphone.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#evigalih-site', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/evigalih-site.jpg", class: "grayscale") %><% end %>
				</li>
				<!-- <li class="work item">
					<%= link_to('#galss-site', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/galss-framework-thumb.jpg", class: "grayscale") %><% end %>
				</li> -->
				<li class="work item">
					<%= link_to('#getrealty', class: "open-work website") do %><%= image_tag("http://www.gapraart.com/assets/images/getrealty-theme.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#mywidz', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/mywidz-logo.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#gapraart', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/gapraart2014.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#ambigram', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/ambigram.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#fashion-fest', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/fashion-fest.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#getrealty2', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/thumb-getrealty.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#ligashop', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/ligashop-logo.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#wongndeso', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/wongndeso-site.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#thanety-vector', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/thanety-graphic.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-flipbook', class: "open-work flash") do %><%= image_tag("http://www.gapraart.com/assets/images/flash-flipbook.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#propel-logo', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/propel-logo.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-mobilegame', class: "open-work flash") do %><%= image_tag("http://www.gapraart.com/assets/images/flash-mobilegame.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#gobenevolent', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/gobenevolent-logo.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#jobskeren-site', class: "open-work website") do %><%= image_tag("http://www.gapraart.com/assets/images/jobskeren-site.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#resolved-artwork', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/revolsedband-artwork.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#socialdefect-artwork', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/socialdefectband-artwork.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-interaktif', class: "open-work flash") do %><%= image_tag("http://www.gapraart.com/assets/images/flash-mediainteraktif.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#ambigram-sanggar', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/ambigram-sanggar28.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-interaktif2', class: "open-work flash") do %><%= image_tag("http://www.gapraart.com/assets/images/flash-mediainteraktif-2.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#olastudio-logo', class: "open-work graphic") do %><%= image_tag("http://www.gapraart.com/assets/images/olastudio-logo.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#olastudio-site', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/olastudio-site.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#bakulvoucher-site', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/bakulvoucher-site.jpg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-gameonline', class: "open-work flash") do %><%= image_tag("http://www.gapraart.com/assets/images/flash-gameonline.jpg", class: "grayscale") %><% end %>
				</li>

			</ul>
			<%= render "homepage/myworks_content" %>
		</div>
		<div class="slide-works-controls">
			<%= link_to('#prev', class: "btn prev") do %><i class="fa fa-angle-up"></i><% end %>
			<%= link_to('#next', class: "btn next") do %><i class="fa fa-angle-down"></i><% end %>
		</div>
	</div>
	<div class="carblue work-info">
		<div class="container">
			<h3>If you want see more complete works, feel free to contact me</h3>
			<p>you can see my repository on <%= link_to('https://github.com/gapra', 'https://github.com/gapra', target: "_blank") %> | please mail me, gapraart@gmail.com or just click the button below.</p>
			<%= link_to('contact me', '#contact', class: "gp-btn more-works-btn") %>
		</div>
	</div>
</section>