<section id="works" class="myworks">
	<div class="title-head">
		<div class="container">
			<h1>My <strong>Works</strong></h1>
		</div>
	</div>
	<div class="container">
		<ul class="tab-menu">
			<li><%= link_to('All', '#', class: "all") %></li>
			<li><%= link_to('Graphic designs', '#', class: "graphic") %></li>
			<li><%= link_to('Website designs', '#', class: "website") %></li>
			<li><%= link_to('UI/UX designs', '#', class: "ui") %></li>
			<li><%= link_to('Frontend development', '#', class: "frontend") %></li>
			<li><%= link_to('Flash / Animation', '#', class: "flash") %></li>
		</ul>
	</div>
	<div class="slide-works">
		<div class="slide-works-content">
			<ul id="gallery-work" class="gallery owl-carousel owl-theme">
				<li class="work item">
					<%= link_to('#gapraart2015', class: "open-work website frontend") do %><%= image_tag("http://assets.gapraart.com/images/homepage-thumb.jpg?_subject_uid=375864436&w=AABXtoqfNBWMKzVnxXWu5L9IZUoIQzzOEnBvGsg-KDRlkw", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#ramadhan-ui', class: "open-work ui") do %><%= image_tag("http://assets.gapraart.com/images/iphone6.jpg?_subject_uid=375864436&w=AACsINdASg1_-pKUQoFjX1RRU46fGEbsZP1C7d4T6-MmRg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#worldchat-ui', class: "open-work ui") do %><%= image_tag("http://assets.gapraart.com/images/for-iphone.jpg?_subject_uid=375864436&w=AAAicqY6oAVli7UVUAZaetRC0t6R6Ug29cXhnMHT71Y0SQ", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#evigalih-site', class: "open-work website frontend") do %><%= image_tag("http://assets.gapraart.com/images/evigalih-site.jpg?_subject_uid=375864436&w=AADSEMMhBr2fiEOaUIwW4f7qIAJm3R7GUSp_-ylIlnvRwg", class: "grayscale") %><% end %>
				</li>
				<!-- <li class="work item">
					<%= link_to('#galss-site', class: "open-work website frontend") do %><%= image_tag("http://www.gapraart.com/assets/images/galss-framework-thumb.jpg", class: "grayscale") %><% end %>
				</li> -->
				<li class="work item">
					<%= link_to('#getrealty', class: "open-work website") do %><%= image_tag("http://assets.gapraart.com/images/getrealty-theme.jpg?_subject_uid=375864436&w=AAC0VIA-Cb-oLsgL_Hb660CZiTfaGbtczDL72MtIrxGtDg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#mywidz', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/mywidz-logo.jpg?_subject_uid=375864436&w=AAA3660qCbVzGs0lmQP0u5YvvJnWgN3t_SOjOWWF6dZzkw", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#gapraart', class: "open-work website frontend") do %><%= image_tag("http://assets.gapraart.com/images/gapraart2014.jpg?_subject_uid=375864436&w=AADTKnVls6N0MQJEaBr60JVydAa09-0mWY0j4SfKaXqmkQ", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#ambigram', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/ambigram.jpg?_subject_uid=375864436&w=AAChb1IMfmftuHO1tO2zBPAqE9ulfU4ubkzs8glNj3DEpA", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#fashion-fest', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/fashion-fest.jpg?_subject_uid=375864436&w=AABJjj2jXeZcBG7A7LTbeWpSFekAWz-omnyjSP4d89b2JQ", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#getrealty2', class: "open-work website frontend") do %><%= image_tag("http://assets.gapraart.com/images/thumb-getrealty.jpg?_subject_uid=375864436&w=AACLxIgsmQT826_vbhidMaqJJ7DpLwzqhOQl5062h1pRRQ", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#ligashop', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/ligashop-logo.jpg?_subject_uid=375864436&w=AABkorrRC731_aQ1l-ZLMcHsYr6Oa6KWrov7W8U01uG64w", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#wongndeso', class: "open-work website frontend") do %><%= image_tag("http://assets.gapraart.com/images/wongndeso-site.jpg?_subject_uid=375864436&w=AADOTx06xy4V5BAxhzqLGL_b6ChbQycAwrHi3TBW5OngAw", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#thanety-vector', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/thanety-graphic.jpg?_subject_uid=375864436&w=AACJWGGcn0gsZWqJp-AJOxn4nSkfhYt6qM50tMnKBnVFNA", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-flipbook', class: "open-work flash") do %><%= image_tag("http://assets.gapraart.com/images/flash-flipbook.jpg?_subject_uid=375864436&w=AADFhoK5TDhIkyK_8dSJtISnCizsTTmJbdr0Jsdx75mSEw", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#propel-logo', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/propel-logo.jpg?_subject_uid=375864436&w=AACarevJfVn9KrXhF69Rgig61PCSjMLAjxPYgUboA3XJDg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-mobilegame', class: "open-work flash") do %><%= image_tag("http://assets.gapraart.com/images/flash-mobilegame.jpg?_subject_uid=375864436&w=AADKOFMB5Mm7Upm-Gwu1NkWEI683YgUlQSndMcnJ_StmOg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#gobenevolent', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/gobenevolent-logo.jpg?_subject_uid=375864436&w=AACJVWeoL957a-HMle2GLSLFapXPMAh_qaS_Tl1xjkME2g", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#jobskeren-site', class: "open-work website") do %><%= image_tag("http://assets.gapraart.com/images/jobskeren-site.jpg?_subject_uid=375864436&w=AAB_gF9rSoBk3kxKBwS54Wop9i_BX1LiF4ESUbmBQXIWsg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#resolved-artwork', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/revolsedband-artwork.jpg?_subject_uid=375864436&w=AAC4yIR7CvdtQNYQJcqgXTyRxuizlRR0VJoyUy1Cn0Y_Xw", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#socialdefect-artwork', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/socialdefectband-artwork.jpg?_subject_uid=375864436&w=AABCT_Fw5X4GFvwfFAeQbtpHgPOoqFKtnOj6JmY8czEk6A", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-interaktif', class: "open-work flash") do %><%= image_tag("http://assets.gapraart.com/images/flash-mediainteraktif.jpg?_subject_uid=375864436&w=AACLJtBP1ksSb1dMUYCnJvMUliC3cm5pqTbp3dPrIhp4NA", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#ambigram-sanggar', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/ambigram-sanggar28.jpg?_subject_uid=375864436&w=AAAOB-xG8KN2HLUXAWdWQ0eeaKjNnyP2aDgSn7h624U5kQ", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-interaktif2', class: "open-work flash") do %><%= image_tag("http://assets.gapraart.com/images/flash-mediainteraktif-2.jpg?_subject_uid=375864436&w=AADUT9jyet5ejCwyEd4YC_p34IzPtNMUNRYjR9gxILScBg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#olastudio-logo', class: "open-work graphic") do %><%= image_tag("http://assets.gapraart.com/images/olastudio-logo.jpg?_subject_uid=375864436&w=AAA62x-8DvuV1U3Nl7M8Rry58Z4VUXZ2l4QbkSXAGbF3Lg", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#olastudio-site', class: "open-work website frontend") do %><%= image_tag("http://assets.gapraart.com/images/olastudio-site.jpg?_subject_uid=375864436&w=AACxdt3Gffig9ozLoVTiNutgkDmWkYKwPPfo5CCxdkf5KA", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#bakulvoucher-site', class: "open-work website frontend") do %><%= image_tag("http://assets.gapraart.com/images/bakulvoucher-site.jpg?_subject_uid=375864436&w=AAB1eHOdwYjFhfHkCMabWY0cWl8deHnX3GbOf7lup5ztEw", class: "grayscale") %><% end %>
				</li>
				<li class="work item">
					<%= link_to('#flash-gameonline', class: "open-work flash") do %><%= image_tag("http://assets.gapraart.com/images/flash-gameonline.jpg?_subject_uid=375864436&w=AABSxuSRMfQzp7PmGKLEuJ3c_qGgUj3U33U3W2q9vc-Z5Q", class: "grayscale") %><% end %>
				</li>

			</ul>
			<%= render "homepage/myworks_content" %>
		</div>
		<div class="slide-works-controls">
			<%= link_to('#prev', class: "btn prev") do %><i class="fa fa-angle-up"></i><% end %>
			<%= link_to('#next', class: "btn next") do %><i class="fa fa-angle-down"></i><% end %>
		</div>
	</div>
	<div class="carblue work-info">
		<div class="container">
			<h3>If you want see more complete works, feel free to contact me</h3>
			<p>you can see my repository on <%= link_to('https://github.com/gapra', 'https://github.com/gapra', target: "_blank") %> | please mail me, gapraart@gmail.com or just click the button below.</p>
			<%= link_to('contact me', '#contact', class: "gp-btn more-works-btn") %>
		</div>
	</div>
</section>